$blue: #1cb6f9;
$green: #9bdf63;
$white: #fff;
$light-grey: #fafafa;
$yellow: #fff9b0;
$grey: #ddd;
$text-color: #000;
$code-red: #c82829;
$button-shadow: rgba(0, 0, 0, .12);
$jumbotron-shadow: rgba(0, 0, 0, .1);
$text-bottom-margin: 20px;
$text-left-margin: $text-bottom-margin * 2;
$media-wide: "only screen and (min-width: 710px)";
