.highlight {
  .k {
    font-weight: bold;
  }

  .s,
  .s1,
  .s2 {
    color: $code-green;
  }

  .mf,
  .mh,
  .mi,
  .mo,
  .il {
    color: $link-color;
  }

  .c,
  .cp,
  .cm,
  .cs,
  .c1 {
    color: lighten($text-color, 40%);
  }
}
