.footer
  .grid
    %footer
      %p
        The source code of this website is available on <a
        href="#">GitLab.com</a> and contributions are welcome. Konni the
        cyber parrot was drawn by <a href="#">Tyson Tan</a>.
