.footer
  .grid
    %footer
      %p
        The source code of this website is available on
        <a href="https://gitlab.com/inko-lang/website">GitLab.com</a> and
        contributions are welcome. Konni the cyber parrot was drawn by
        <a href="https://tysontan.com/">Tyson Tan</a>.
