%aside
  .expand-sidebar
    %a{ href: '#' }
      ◨ Toggle sidebar

  .sidebar.sidebar-manual
    - data.manual.chapters.each do |chapter|
      %section
        %h1= chapter['title']
        %ol
          - chapter['pages'].each do |path|
            %li= link_to_manual_page(path)
