%aside.sidebar
  - data.sidebar.each do |section|
    %section
      %h1= section['title']
      %ul
        - section['links'].each do |link|
          %li= link_to(link['title'], link['url'])
  - unless blog.articles.empty?
    %section
      %h1 Recent news
      %ul
        - blog.articles.first(5).each do |article|
          %li= link_to(article.title, article)
