%aside
  .sidebar
    - unless blog.articles.empty?
      %section
        %h1 Recent news
        %ul
          - blog.articles.first(5).each do |article|
            %li= link_to(article.title, article)
