.top
  %header.grid
    .logo
      %img{ src: '/images/logo.png', alt: 'Logo', height: 60 }
      %span
        Inko
    .expand-menu
      %a{ href: '#' }
        Menu
    %nav.main-menu
      %ul
        - data.menu.each do |link|
          %li
            = link_to(link['title'], link['url'])
