---
name: Build and deploy
on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  vale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: errata-ai/vale-action@reviewdog
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          reporter: github-check
          vale_flags: '--no-wrap --sort'
  deploy:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/inko-lang/inko:latest
    needs:
      - vale
    if: |
      github.repository == 'inko-lang/website' && github.ref_name == 'main'
    steps:
      - name: Installing dependencies
        run: microdnf install --quiet --assumeyes make rclone
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: |
            build
            ~/.local/share/inko/packages
          key: ${{ runner.os }}
      - name: Deploy website
        run: make deploy
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
