---
name: Packages data
on:
  schedule:
    - cron: '15 6 * * 1'
  workflow_dispatch:
  push:
    paths:
      - 'source/data/packages.json'

jobs:
  packages:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/inko-lang/inko:latest
    permissions:
      contents: write
    if: |
      github.repository == 'inko-lang/website' && github.ref_name == 'main'
    steps:
      - name: Installing dependencies
        run: microdnf install --quiet --assumeyes make rclone
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: |
            build
            ~/.local/share/inko/packages
          key: ${{ runner.os }}
      - run: git config --global --add safe.directory $PWD
      - name: Update package data
        run: |
          bash ./scripts/packages.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GH_ACCESS_TOKEN }}
      - name: Deploy website
        run: make deploy
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
