---
name: Sponsors data
on:
  schedule:
    - cron: '15 1 * * 1'
  workflow_dispatch:

jobs:
  sponsors:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/inko-lang/inko:latest
    permissions:
      contents: write
    if: |
      github.repository == 'inko-lang/website' && github.ref_name == 'main'
    steps:
      - name: Installing dependencies
        run: microdnf install --quiet --assumeyes make git tar npm
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: |
            build
            dep
            ~/.local/share/inko/packages
            ~/.npm
          key: ${{ runner.os }}
      - run: git config --global --add safe.directory $PWD
      - name: Update sponsors data
        run: bash ./scripts/sponsors.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GH_ACCESS_TOKEN }}
      - name: Deploy website
        run: make deploy
        env:
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
